{% macro nav_bar(field) %}
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Company<br>Name</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="{{ url_for('index') }}" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="#See What's Needed" class="w3-bar-item w3-button w3-hover-white">See What's Needed</a>
    <a href="#Disaster Watch" class="w3-bar-item w3-button w3-hover-white">Disaster Watch</a>
    <a href="{{ url_for('contact') }}" class="w3-bar-item w3-button w3-hover-white">Contact</a>
    <a href="{{ url_for('settings') }}" class="w3-bar-item w3-button w3-hover-white">Settings</a>
    {% if current_user.is_authenticated %}
      <a href="{{ url_for('create_account') }}" class="w3-bar-item w3-button w3-hover-white">Register</a>
      <a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-hover-white">Login</a>
    {% else %}
      <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-hover-white">Logout</a>
    {% endif %}
  </div>
</nav>
{% endmacro %}