<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>
	<head>
		<title>APP NAME</title>
	</head>
	<body>
		<h1>Catchy Name</h1>
	</body
	<!-- Sidebar/menu -->
	<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
	  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
	  <div class="w3-container">
	    <h3 class="w3-padding-64"><b>Company<br>Name</b></h3>
	  </div>
	  <div class="w3-bar-block">
	    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
	    <a href="#Register" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Register</a>
	    <a href="#Login" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Login</a>
	    <a href="#See What's Needed" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">See What's Needed</a>
	    <a href="#Disaster Watch" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Disaster Watch</a>
	    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
	  </div>
	</nav>

	<!-- !PAGE CONTENT! -->
	<div class="w3-main" style="margin-left:340px;margin-right:40px">

	  <!-- Header -->
	  <div class="w3-container" style="margin-top:80px" id="showcase">
	    <h1 class="w3-jumbo"><b>CATCHY NAME</b></h1>
	    <h1 class="w3-xxxlarge w3-text-red"><b>Getting help where it's needed most.</b></h1>
	    <hr style="width:50px;border:5px solid red" class="w3-round">
	  </div>
		<!-- What we do -->
	  <div class="w3-container" id="services" style="margin-top:75px">
	    <h1 class="w3-xxxlarge w3-text-red"><b>Smart risk assessment + efficient volunteer allocation = more lives saved.</b></h1>
	    <hr style="width:50px;border:5px solid red" class="w3-round">
	    <p>We provide the tools to get volunteers where they're needed most, while employing the latest technologies to assess disaster damage and risk.</p>
	    <p>When diasaster strikes and help is desperately needed, one of the most signficant contributors to the chaos is misallocation and disorganization of volunteers
				and aid services. After seeing countless images on national news of disaster reilef volunteers being turned around due to miscommunications, hearing horror stories of people waiting for hours on their roofs during
				hurricanes for help to arrive, and even watching one of the creator's family get rescued from their flooded home via volunteer canoe since no emergency vehicles were availible at the time, the creators
				decided to develop (NAME HERE), in order to optimize the process. Employing machine learning, image recognition technologies as well as
	    </p>
	  </div>
</html>
