{% from "_navbar.html" import nav_bar with context %}
{% from "_flashed_messages.html" import flashed_messages with context %}
{% from "_formhelpers.html" import render_field with context %}
<!DOCTYPE html>
<html>
	<head>
		<title>Settings</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
		<style>
		body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
		body {font-size:16px;}
		.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
		.w3-half img:hover{opacity:1}
		</style>
	</head>
	<body>
		{{ nav_bar() }}

		<div style="margin-left:340px;margin-right:40px;margin-top:40px">
			<form method=post>
				<dl>
					{% for i in form %}
						<input type="checkbox" name={{ loop.index }} value="0"> {{ i.label }}<br>
					{% endfor %}
					{{ render_field(form.distance) }}
				</dl>
				<input type="submit" value="Save">
			</form>
			{{ flashed_messages() }}
		</div>
	</body>
</html>